@font-face { font-family: 'Almarai-Bold'; 
    src: url('./../fonts/Almarai/Almarai-Bold.ttf'); } 
    @font-face { font-family: 'Almarai-Regular'; 
        src: url('./../fonts/Almarai/Almarai-Regular.ttf'); } 
        @font-face { font-family: 'Almarai-Light'; 
            src: url('./../fonts/Almarai/Almarai-Light.ttf'); } 
body {
    direction: rtl;
    font-family: 'Almarai-Regular';
}
h1,h2,h3{
    font-family: 'Almarai-Bold'; 
}

.Sidebar {
    right: 0;
}
    .Sidebar .SidebarBody > section ul > li > a.HasChild:after {
        left: 10px
    }
.accordion .card-header button:before {
    left: 18px;
}
.CollapseSidebar .Sidebar .SidebarBody > section ul li.HasChild-list ul li a, .CollapseSidebar .Sidebar .SidebarBody > section ul li.HasChild-list a, .CollapseSidebar .Sidebar .SidebarBody > section ul > li > a {
    padding: 10px;
}

.SidebarContainer {
    left: -130%;
}

    .SidebarContainer .OverLay {
        left: -130%;
        transition: all .5s;
    }

    .SidebarContainer.active .OverLay {
        left: 0;
        transition: all .5s;
    }

    .SidebarContainer .SidebarContent {
        left: -130%;
        transition: all .5s;
    }

    .SidebarContainer.active .SidebarContent {
        left: 0;
        transition: all .5s;
    }

    .SidebarContainer .SidebarContent .SidebarBody .rowItemcart .RemoveItem {
        left: 10px;
    }
    @media (min-width: 768px) {
        .section-services .text-container{
            padding-right: 90px;
        }
        .section-services .img-container {
            padding-left: 100px;
        }
        }
    @media (min-width: 992px) {
        .TopHeader,
        body.Dashboard {
            margin-right: 280px;
        }

            body.CollapseSidebar,
            .CollapseSidebar .TopHeader {
                margin-right: 70px;
            }
        }
    @media(max-width: 991px) {

        .Sidebar {
            right: -100%
        }
        .showSidebar .Sidebar {
            right: 0;
        }
        .TopHeader {
            margin-right: 0;
            width: 100%;
        }
    }
@media (min-width: 768px) {
.navbar-header,
.navbar-nav {
    float: right;
}
.navbar-right {
    float: left !important;
}
.navbar-nav>li {
    float: right;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
 float: right;
}
}

@media (max-width: 768px) {
    .navbar-toggle {
        float: left 

    }
    .navbar-brand {
        float: right 
    }
}