:root {
    --mainColor: #8C6BEE;
    --SecondColor: #333E48;
    
}
body,html {
    background-color: #fafbfd;
    scroll-behavior: smooth;
}
body {
    padding-top: 95px;
}
.btn.with-icon{
    text-align: start;
    padding: 7px 20px;
    position: relative;
}
.btn.with-icon::after {
    content: '';
    background-image: url(./../images/arrow.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 16px;
    background-size: 13px 12px;
    position: absolute;
    top: 15px;
}
/* ==================== header ================ */
header.Header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    top: 0;
}
.navbar {
    padding: 15px 0;
    margin-bottom: 8px;
    background-color: #fff;
}
.navbar>.container .navbar-brand{
    padding: 10px;
    height: auto;
}
@media (min-width: 768px) {
.navbar .nav.navbar-nav{
    margin-inline-start: 20px;
    padding-top: 5px;
}
}
.navbar>.container .navbar-brand img {
    height: 35px;
}
.navbar-nav>li>a {
    color: #707070;
    font-weight: 600;
    font-size: 15px;
}
.navbar-nav>li>a.active,
.nav>li>a:focus, .nav>li>a:hover {
    color: #000;
    background-color: transparent;
}
.navbar-nav>li>a.btn-theme {
    background-color: #8C6BEE;
    color: #fff ;
    font-weight: 300 ;
    padding: 8px 30px;
    border-radius: 25px;
    margin-top: 5px;
}
.navbar-nav>li>a.btn-light {
    background-color: transparent;
    border: 1px solid #333E48;
    color: #333E48;
    font-weight: 300;
    padding: 8px 30px;
    border-radius: 25px;
    margin: 5px 10px;
}
/* ==================== end header ================ */
/* ==================== banner-job ================ */
.banner-job {
    background: url(./../images/Shapes.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 50px;
}
.banner-job .banner-container {
    text-align: center;
    width: 100%;
}
.banner-job .banner-container h1{
    font-size: 26px;
    margin:20px 0 10px;
}
.banner-job .banner-container h4{
    font-size: 17px;
    color: var(--SecondColor)
}
.banner-job .banner-container .btn{
    min-width: 125px;
    border-radius: 25px;
    background-color: #fff;
    padding: 7px;
    margin-top: 40px;
    font-size: 14px;
}
.banner-job .banner-container .btn.btn-dark{
    color: #fff;
    background-color: #8C6BEE;
    text-align: start;
    padding: 10px 20px;
    position: relative;
}
.multicolortext {
    background-image: url(./../images/bg.png);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: right;
  }
@media (min-width: 768px) {
    .banner-job {
        min-height: 550px;
}
.banner-job .banner-container h1 {
    font-size: 40px;
    margin: 150px 0 30px;
    line-height: 57px;
}
.banner-job .banner-container h4{
    font-size: 25px;
}
.banner-job .banner-container .btn{
    min-width: 135px;
}
}
/* ==================== end banner-job ================ */
/* ==================== section-services ================ */
#services {
    padding-top: 70px;
}
.section-services {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin-bottom: 40px;
}
.section-services .img-container,
.section-services .text-container {
  width: 50%;
}
.section-services:nth-child(even) {
    flex-direction: row-reverse;
    -ms-flex-direction:  row-reverse;
-moz-flex-direction:  row-reverse;
-webkit-flex-direction:  row-reverse;
-o-flex-direction:  row-reverse;
-ms-flex-pack: justify;
-webkit-box-pack: justify;
}
@media (min-width: 768px) {
.section-services .text-container{
    padding-inline-start: 90px;
}
}
.section-services .img-container {
    text-align: center;
    padding: 15px;
    padding-inline-end: 100px;
    max-width: 90%;
    position: relative;
}
.section-services:nth-child(even) .img-container {
    padding-inline-end: 15px;
    padding-inline-start: 100px;
}
.section-services .img-container::before {
    content: '';
    background-image: url(./../images/dot-2.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 55px;
    height: 88px;
    background-size: 70px 68px;
    z-index: 0;
    bottom: -24px;
    animation: rotation 8s infinite linear;
    -moz-animation: rotation 8s infinite linear;
    -ms-animation: rotation 8s infinite linear;
     -o-animation: rotation 8s infinite linear;
   
}
.section-services:nth-child(odd) .img-container::before {
    right: 8px;
}
.section-services:nth-child(even) .img-container::before {
    left: 9px;
}
.section-services .img-container::after {
    content: '';
    background-image: url(./../images/Vector3.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 35px;
    height: 50px;
    background-size: 30px 30px;
    z-index: 0;
    top: 32px;
    animation: rotation 8s infinite linear;
    -moz-animation: rotation 8s infinite linear;
    -ms-animation: rotation 8s infinite linear;
     -o-animation: rotation 8s infinite linear;
   
}
.section-services:nth-child(odd) .img-container::after {
   
    left: -25px;
}
.section-services:nth-child(even) .img-container::after {
    right: -50px;
}
.section-services:first-child .img-container:after {
    background-image: url(./../images/Vector2.png);
}
.section-services:nth-child(2) .img-container:after {
    background-image: url(./../images/Vector3.png);
}
.section-services:nth-child(3) .img-container:after {
    background-image: url(./../images/Vector4.png);
}
.section-services:nth-child(4) .img-container:after {
    background-image: url(./../images/Vector1.png);
}
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @-ms-keyframes rotation {
    from {
      -ms-transform:  rotate(0deg);
    }
    to {
      -ms-transform:  rotate(359deg);
    }
  }
  @-moz-keyframes rotation {
    from {
      -moz-transform:  rotate(0deg);
    }
    to {
      -moz-transform:  rotate(359deg);
    }
  }
  @-webkit-keyframes rotation {
    from {
      -webkit-transform:  rotate(0deg);
    }
    to {
      -webkit-transform:  rotate(359deg);
    }
  }
.section-services .img-container img {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 6%);
    border-radius: 40px;
    position: relative;
    z-index: 9;
}
.section-services .text-container h3{
    font-size: 30px;
    margin-bottom: 20px;
   }
   .section-services .text-container p{
    font-size: 16px;
    line-height: 28px;
    width: 300px;
   }
   /* ==================== End section-services ================ */
     /* ==================== login ================ */
   .modal-header {
    border-bottom: 0;
    padding: 25px 30px 10px;
   }
   .modal-header button.close {
    opacity: 1;
    float: left;
   }
   .modal-header button.close:hover {
    opacity: 0.7;
   }
   .modal-header button.close img {
    width: 30px;
   }
   @media (min-width: 768px){
.modal-dialog {
    width: 550px;
}

}
@media (min-width: 480px){
    .modal-dialog {
        width: 400px;
        margin: 10px auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
    .navbar .nav.navbar-nav {
    margin-inline-start: 0px;
    padding-inline-start: 5px;
    }
    .navbar-nav>li>a.btn-theme {
        padding: 8px 15px;
    }
    .navbar>.container .navbar-brand img {
        height: 28px;
        position: relative;
        top: 6px;
    }
    .section-services {
    padding: 10px 35px;
}
.banner-job {
    min-height: auto;
}
.section-services .text-container {
    padding-inline-start: 60px;
}
    }
.modal-dialog .modal-content {
    border-radius: 25px;
    border: none;
    box-shadow: none;
}
   .login-modal-body {

   }
   .login-modal-body .title-login {
 text-align: center;
 color: #333E48;
 margin: 20px 0;
 font-size: 24px;
 font-family: 'Almarai-Bold';
}
.login-modal-body h6 {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.login-modal-body h6:after {
    content: '';
    background-image: url(./../images/login-icon/line.png);
    position: absolute;
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    left: 0;
    background-position: center;
    top: 5px;
}
.login-modal-body h6 span{
    display: inline-block;
    padding: 1px 6px;
    background-color: #fff;
    position: relative;
    z-index: 9;
}
.login-modal-body ul {
 padding: 0;
 text-align: center;
}
.login-modal-body ul li{
 list-style: none;
 display: inline-block;
 margin:20px 15px;
}
.login-modal-body ul li img{
  width: 25px;
  cursor: pointer;
}
.login-modal-body ul li img:hover {
    opacity: 0.7;
}
.login-modal-body form {
    width: 375px;
    margin: auto;
    max-width: 95%;
}
.login-modal-body form .form-group .form-control {
    background: #EDF0F2;
    border-radius: 25px;
    height: 44px;
    border: none;
    box-shadow: none;
    padding: 5px 25px;
}
.login-modal-body form .form-group label{
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Almarai-Bold';
    padding: 3px 10px;
    padding-inline-start: 30px;
    color: #333E48;
}
.login-modal-body form .btn-theme{
    background-color: #8C6BEE;
    color: #fff;
    font-weight: 300;
    padding: 8px 30px;
    border-radius: 25px;
    margin-top: 5px;
    width: 100%;
}
.login-modal-body form .btn-theme:hover {
    opacity: 0.7;
}
.login-modal-body p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Almarai-bold';
    margin: 25px 0;
}
.login-modal-body p a {
    color: #8C6BEE;
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
}

  /* ==================== End login ================ */
  /* ==================== sidebar ================ */
.Sidebar {
    background-color: #fff;
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 0;
    z-index: 999
}

.Sidebar .SidebarHeader {
    text-align: center;
    padding: 15px;
    overflow: hidden;
    border-bottom: 1px solid #f4f4f4;
    height: 84px;
}
    .Sidebar .SidebarHeader img {
        height: 28px;
        margin-top: 15px;
    }
.CollapseSidebar .Sidebar .SidebarHeader img {
    height: 7px;
    margin-top: 25px;
}
        .Sidebar .SidebarHeader > a,
        .Sidebar .SidebarHeader a:hover {
            width: 100%;
            color: #fff;
            font-size: 24px;
            font-weight: 600
        }

.Sidebar .SidebarBody {
    height: calc(100vh - 55px);
    overflow: auto;
    padding-top: 20px;
}

.Sidebar .SidebarBody>section {
    padding: 0px 10px;
    color: #fff;
  /*  border-bottom: 3px solid #252525*/
}

.Sidebar .SidebarBody>section:last-child {
    border: none
}

.Sidebar .SidebarBody>section>label {
    color: #aaa;
    margin: 10px 0;
    font-size: 15px
}

.Sidebar .SidebarBody>section ul {
    margin-bottom: 0;
    padding: 0 5px;
}

    .Sidebar .SidebarBody > section ul > li > a {
        padding: 10px;
        margin: 5px 0;
        display: block;
        cursor: pointer;
        color: #000;
        position: relative;
        font-size: 13.5px;
    }
    .Sidebar .SidebarBody > section ul > li > a img {
        height: 23px;
    }
    .Sidebar .SidebarBody > section ul li.HasChild-list ul li a {
        padding: 10px 20px;
    }
.CollapseSidebar .Sidebar .SidebarBody > section ul li.HasChild-list ul li a,
.CollapseSidebar .Sidebar .SidebarBody > section ul li.HasChild-list a,
.CollapseSidebar .Sidebar .SidebarBody > section ul > li > a {
    padding: 10px 0;
}
.Sidebar .SidebarBody > section ul li.HasChild-list ul li a.active,
.Sidebar .SidebarBody > section ul > li > a:hover {
    background-color: #97bdd224;
}
.Sidebar .SidebarBody > section ul > li > a:hover span,
.Sidebar .SidebarBody > section ul > li > a:hover i {
    color: #47a4ad;
}
        .Sidebar .SidebarBody > section ul > li > a.HasChild .badge {
            margin-right: 20px
        }

        .Sidebar .SidebarBody > section ul > li > a.HasChild:after {
            content: "\f104";
            font-family: "Font Awesome 5 Free";
            color: #000;
            opacity: .75;
            font-weight: 900;
            position: absolute;
        }
            .Sidebar .SidebarBody > section ul > li > a.HasChild:hover:after {
                color: #47a4ad;
            }

            .Sidebar .SidebarBody > section ul > li > a + ul {
                display: none;
                padding: 0px 0px
            }

        .Sidebar .SidebarBody > section ul > li > a > i {
            width: 26px;
            opacity: 1;
            font-size: 14px;
            position: relative;
            top: 2px;
        }

        .Sidebar .SidebarBody > section ul > li > a > span {
            opacity: 1;
            font-size: 13px;
            padding-inline-start: 10px;
            font-weight: 500;
            font-family: 'Almarai-bold';
            color: #888;
            position: relative;
            top: 1px;
        }
        .Sidebar .SidebarBody > section ul > li > a.active > span {
            color: var(--SecondColor)
        }
.Sidebar .SidebarBody>section ul>li.open {
    box-shadow: 0 0 4px rgba(71, 87, 99, .5);
    margin-bottom: 10px
}

.Sidebar .SidebarBody>section ul>li.open a.HasChild:after {
    content: ""
}

.Sidebar .SidebarBody>section ul>li:hover>i,
.Sidebar .SidebarBody>section ul>li:hover span,
.Sidebar .SidebarBody>section ul>li:hover.HasChild:after {
    opacity: 1
}

.CollapseSidebar .Sidebar {
    width: 70px
}

.CollapseSidebar .Sidebar .SidebarHeader>a i {
    font-size: 36px
}

.CollapseSidebar .Sidebar .SidebarHeader>a span {
    display: none
}

.CollapseSidebar .Sidebar .SidebarBody {
    overflow: visible
}

.CollapseSidebar .Sidebar .SidebarBody section label,
.CollapseSidebar .Sidebar .SidebarBody section ul>li>a>span,
.CollapseSidebar .Sidebar .SidebarBody section ul>li>a>b,
.CollapseSidebar .Sidebar .SidebarBody section ul>li>a::after,
.CollapseSidebar .Sidebar .SidebarBody section .progressSidebar {
    display: none
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li>a>span {
    font-size: 15px
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li>a>i {
    font-size: 19px;
    width: 26px;
    text-align: center;
    margin-left: 10px
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li:hover {
    min-height: 39px
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li:hover>a {
    width: 280px;
    position: absolute;
    background-color: #ededed;
    border-radius: 5px
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li:hover>a+ul {
    display: block;
    border-radius: 5px;
    display: block;
    width: 295px;
    background-color: #ededed;
    padding-top: 48px;
    border-radius: 5px
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li:hover>a+ul li>a>span {
    display: inline-block
}

.CollapseSidebar .Sidebar .SidebarBody section ul>li:hover>a>span {
    display: inline-block
}

.showSidebar .Sidebar {
    top: 48px;
}

.showSidebar .Sidebar .SidebarBody {
    height: calc(100vh - 110px)
}
/* ==================== End sidebar ================ */
/* ==================== breadcrumb ================ */
.breadcrumb-theme {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: 0 0 8px #d7d7d7;
}
    .breadcrumb-theme h5 .badge {
        margin-inline-start: 10px;
        border: none;
        box-shadow: none;
    }
    /* ==================== End  breadcrumb ================ */
      /* ==================== TopHeader ================ */
.TopHeader {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 23px 10px;
    box-shadow: 0 4px 2px -2px #ededed;
    width: calc(100% - 280px);
    position: fixed;
    z-index: 998;
    right: 0;
    top: 0;
    background-color: #fff
}



.TopHeader .right-section,
.TopHeader .left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.TopHeader .right-section>ul,
.TopHeader .left-section>ul {
    padding: 0 5px;
    margin: 0
}

.TopHeader .right-section>ul>li,
.TopHeader .left-section>ul>li {
    display: inline-block
}
.TopHeader .dropdown-toggle.User img{
    width: 15px;
}
.img-Culture img{
    width: 15px;
}
@media(min-width: 1450px) {
    .TopHeader .right-section>ul>li.showInTablet, .TopHeader .left-section>ul>li.showInTablet {
        display: none
    }
}

.TopHeader .right-section>ul>li>a,
.TopHeader .left-section>ul>li>a {
    padding: 7px 12px;
    text-transform: capitalize;
    color: #000;
    font-size: 13px;
    display: inline-block;
    position: relative;
    cursor: pointer
}

@media(max-width: 1200px) {
    .TopHeader .right-section>ul>li>a,
    .TopHeader .left-section>ul>li>a {
        padding: 7px 4px
    }
}

.TopHeader .right-section>ul>li>a>i,
.TopHeader .left-section>ul>li>a>i {
    padding: 0 3px;
    font-size: 13px
}

.TopHeader .right-section>ul>li>a.count>i,
.TopHeader .left-section>ul>li>a.count>i {
    font-size: 15px
}

.TopHeader .right-section>ul>li>a.count span,
.TopHeader .left-section>ul>li>a.count span {
    background-color: #fc495c;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    width: 15px;
    min-width: 15px;
    padding: 0;
    line-height: 13px;
    position: absolute;
    top: 1px;
    right: 8px
}

.TopHeader .right-section>ul>li>a.User,
.TopHeader .left-section>ul>li>a.User {
    padding-right: 0
}


.TopHeader .right-section>ul>li>a.User+.ImgUser,
.TopHeader .left-section>ul>li>a.User+.ImgUser {
    display: inline-block
}

.TopHeader .right-section>ul>li>a.User+.ImgUser img,
.TopHeader .left-section>ul>li>a.User+.ImgUser img {
    border-radius: 50%
}

.CollapseSidebar .TopHeader {
    width: calc(100% - 70px);
}

@media(max-width: 991px) {
    .CollapseSidebar .TopHeader {
        margin-right: 0;
        width: 100%
    }
}
      /* ==================== End TopHeader ================ */
@media (max-width: 768px) {
    .navbar>.container .navbar-brand {
        padding: 10px 0;
    }
    .banner-job {
    padding: 20px 20px;
    background-size: cover;
}
    .banner-job .banner-container .btn {
        margin-top: 10px;
            margin-inline-end: 5px;
                font-size: 13px;
    }
    .navbar-toggle  {
        background-color: #8C6BEE;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar {
    margin-bottom: 0;
    padding: 10px;
}
.navbar>.container .navbar-brand img {
    height: 30px;
}
.navbar-nav {
    padding: 0;
}
.section-services {
    display: block;
}
.section-services .img-container {
    padding-inline-end: 15px !important;
    padding-inline-start: 15px !important;
    margin: auto;
    width: 300px;
}
.section-services .text-container{
    margin: auto;
    width: 95%;
    text-align: center;
}
.section-services .text-container p {
    width: 95%;
    margin: auto;
}
.section-services:nth-child(odd) .img-container::after {
    left: 9px;
}
.section-services .img-container::before {
    width: 44px;
    height: 58px;
    background-size: 37px 47px;
    bottom: 0px;
}
.section-services:nth-child(odd) .img-container::before {
    right: 28px;
}
.section-services:nth-child(even) .img-container::after {
    right: -13px;
}

.section-services .img-container img {
    border-radius: 25px;
}
.navbar>.container .navbar-brand img {
    height: 22px;
    margin-top: 5px;
}
.navbar-nav>li>a {
    font-size: 12px;
}
.navbar-nav>li>a.btn {
    margin: 5px;
}
}

.theme-btn {
    color: #fff;
    font-weight: 300;
    padding: 8px 30px;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

.theme-btn-bg {
    background-color: #8C6BEE;
}

.theme-btn-bg:hover {
    background-color: #6b51b9;
}
